@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    background-color: #242424;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    scroll-behavior: smooth;
}
body {
    transition: all 1s ease;
    padding: 0;
    margin: 0;
}
p, h1 {
    transition: all .4s ease;
}

.bg {
    background-image: url("assets/banner/banner.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vid {
    width: inherit;
    height: inherit;
}
.image-in-left{
    float: left;
    width: 50%;
    display: inline;
}
.text-in-right{
    float: right;
    width: 50%;
    display: inline;
}
.box{
    width: inherit;
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    overflow: auto;
    position: absolute;
    left: 25%;
    right: 25%;
    display: block;
}
.box2{
    width: inherit;
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    overflow: auto;
    position: relative;
    display: block;
    transition: transform 250ms;
}

.box3{
    width: inherit;
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    overflow: auto;
    position: relative;
    display: block;
}
.boxco{
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    overflow: auto;
    position: relative;
    display: inline-block;
    background-color: rgb(233, 36, 36);
    margin-left: 200px;
}
.boxco h1{
  background-color: rgb(233, 36, 36);
}
.boxco p{
  background-color: rgb(255, 36, 36);
}
.boxco2{
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    overflow: auto;
    position: relative;
    display: inline-block;
    background-color: rgb(233, 36, 36);
    margin-left: 25px;
    transition: transform 250ms;
}

.ctcbox:hover {
  -ms-transform: scale(1.04); /* IE 9 */
  -webkit-transform: scale(1.04); /* Safari 3-8 */
  transform: scale(1.04);
  transition: all .7s ease;
}
.boxco3{
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-radius: 20px;
    text-align: left;
    overflow: auto;
    position: relative;
    display: inline-block;
    background-color: rgb(233, 36, 36);
    margin-left: 25px;
   transition: transform 250ms;
}
.boxco3 img{
  border-radius: 55px;
  width: 100%;
}
.boxco2:hover {
 transform: translateY(-6px);

}
.boxco3:hover {
 transform: translateY(-4.5px);

}
.box2:hover {
 transform: translateY(-7px);
}
.boxco2 h1{
  background-color: rgb(233, 36, 36);
}
.boxco2 p{
  background-color: rgb(233, 36, 36);
}
.boxco3 h1{
  background-color: rgb(233, 36, 36);
}
.boxco3 p{
  background-color: rgb(233, 36, 36);
}
.responsive {
    max-width: 100%;
    height: auto;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    float: left;
    transition: all .4s ease;
    z-index:1;
  
}
.box2 iframe {
    width: 90%;
    height: 50%;
    float: center;
    text-align: center;
}
.box3 iframe {
    width: 90%;
    height: 50%;
    float: center;
    text-align: center;
}
.navbar a {
    float: center;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: all .4s ease;
}

.navbar a:hover{
    color: #ff0000;
    transition: all .4s ease;
}

.navbar button {
    padding: 9px 25px;
    display: inline-block;
    background: #000000;
    transition: all .4s ease;
    border-radius: 52px;
    border: 2px solid black;
    border-color: #ff0000;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

invitebtn {
    padding: 9px 25px;
    background: #ff0000;
    transition: all .4s ease;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

invitebtn:hover{
    color: rgb(0, 0, 0);
}

invitebtn2 {
    padding: 18px 50px;
    background: #ff0000;
    transition: transform 250ms, all .4s ease;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    display: inline-block;
   
}

invitebtn2:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: translateY(-4.5px);
}

contactbutton {
    padding: 9px 25px;
    background: #ff0000;
    transition: all .4s ease;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

contactbutton:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

footerbox {
    background-color: #141414;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: white;
}

.navbar button:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-color: #000000;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

imgcontainer {
    position: relative;
    display: inline;
}

.ctcbox {
    width: inherit;
    max-width: 100%;
    height: 70%;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    overflow: auto;
    position: absolute;
    left: 25%;
    right: 25%;
    display: block;
}
.ctcbox h1{
    font-size: 15pt;
}
.box2 img {
    float: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    border-color: #ff0000;
}
.box3 img {
    float: center;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .box {
        width: inherit;
        max-width: 100%;
        height: auto;
        padding: 20px;
        text-align: left;
        overflow: auto;
        position: absolute;
        left: 5%;
        right: 5%;
        background: #242424;
    }
}
@media screen and (max-width: 800px) {
    .navbar a{
        display: inline-block;
        float: none;
        transition: all .4s ease;
    }
    .box2 iframe {
        width: 100%;
    }
     .box3 iframe {
        width: 80%;
    }
    a {
        float: center;
    }
    .container {
        position: relative;
        top: 60%;
    }
    .navbar {
        position: relative;
    }
    invitebtn2 {
        display: block;
    }
    .box {
        width: 80%;
        max-width: 100%;
        height: auto;
        padding: 20px;
        text-align: left;
        overflow: auto;
        position: relative;
        left: 5%;
        right: 5%;
        background: #242424;
    }
     .boxco {
       padding: 20px;
       position: relative;
       margin-left: 10px;
       max-width: 50%;
      
       max-height: 50%;
       display: inline-block;
     }
      .boxco2 {
        margin-left: 3px;
        max-width: 40%;
        max-height: 37%;
        padding-top: 6px;
        padding-bottom: 6px;
       padding-left: 3%;
       padding-right: 3%;
        display: inline-block;
     }
      .boxco3 {
        margin-left: 3px;
        width: auto;
        height: auto;
        padding-top: 13px;
        padding-bottom: 13px;
       padding-left: 2%;
       padding-right: 2%;
        display: inline-block;
     }

    .ctcbox {
        width: inherit;
        max-width: 100%;
        height: auto;
        padding: 20px;
        text-align: left;
        overflow: auto;
        position: absolute;
        left: 5%;
        right: 5%;
        background: #242424;
    }
    .ctcbox h1 {
        font-size: 12pt;
    }
    .ctcbox h1, p{
        text-align: left;
    }
    h1 {
        top:50%;
    }
    .box2 .image-in-left {
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .box2 .text-in-right {
        margin: 0 auto;
        float: none;
        text-align: center;
    }
   .box3 .image-in-left {
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .box3 .text-in-right {
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .boxco .image-in-left {
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .boxco .text-in-right {
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .box2 .image-in-left {
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .boxco2 .text-in-right {
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .boxco2 img {
        width: 100%;
        object-fit: contain;
    }
   .boxco3 img {
        width: 100%;
        object-fit: contain;
    }
    .box3 img {
        width: 30%;
        object-fit: contain;
        
    }
    .box2 p, h1, b {
        text-align: center;
    }
    .box3 p, h1, b {
        text-align: center;
    }
    .boxco p, h1, b {
        text-align: center;
    }
    .boxco2 p, h1, b {
        text-align: center;
    }
    .boxco3 p, h1, b {
        text-align: center;
    }
    .container p, img, invitebtn2 {
        float: center;
        text-align: center;
    }
    .container invitebtn2 {
        margin: 5px;
    }
}
